h1{
    color: blue;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img
{ 
     size: 10px;
     border-image: auto;
     width: 30px;
     height: auto;
}